<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="message"></p>
    <form action="#" method="post">
        email-id: <input type="text" name="Emaild" id="email-id">
        <input type="button" value="Change-passWord" id="Change-passWord" /> 
        <input type="button" value="Cancel">
       
    </form>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="forgetpassword.js"></script>
</html>