<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styesheet.css">

</head>

<body>
  <p id="msg" style="font-size: large; background-color: red;"></p>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LogIn</h2>
        <div class="underline-title"></div>
      </div>
      <form  action="#" method="post" class="form">
        <!-- <label for="user-name" style="padding-top:13px">
            &nbsp;Username
          </label>
        <input  class="form-content" type="username" name="username" id="user-name" required /> -->
        <!-- <div class="form-border"></div> -->
        <label for="user-email" style="padding-top:22px">&nbsp;Emaild
          </label>
        <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
        </label>
      <input id="user-password" class="form-content" type="password" name="password" required />
      <div class="form-border"></div>
        <a href="forgetpassword.htm">
          <legend id="forgot-pass">Forgot password?</legend>
        </a>
          <input id="login-btn" type="submit" name="login" value="LogIn" />
          <!-- <input id="submit-btn" type="submit" name="submit" value="SignUp" /> -->
          <button id="submit-btn" onclick="goToPage()">SignUp</button>
        <!--<a href="#" id="signup">LogIn</a> -->
      </form>
    </div>
  </div>
  
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="loginpage.js"></script>
</html>