<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="styesheet.css">
  

</head>

<body>
  <p id="msg" style="font-size: large; background-color: rgb(255, 8, 0);"></p>
  <div id="card">       
    <div id="card-content">
      <div id="card-title">
        <h2>SignUp</h2>
        <div class="underline-title"></div>
      </div>
      <form  action="#" method="post" class="form">
        <label for="user-name" style="padding-top:13px">
            &nbsp;Username
          </label>
        <input  class="form-content" type="username" name="username" id="user-name" required />
        <div class="form-border"></div>
        <label for="user-email" style="padding-top:22px">&nbsp;Emaild
          </label>
        <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
        </label>
      <input id="user-password" class="form-content" type="password" name="password" required />
      <div class="form-border"></div>
        <!-- <a href="#">
          <legend id="forgot-pass">Forgot password?</legend>
        </a> -->
         <input id="submit-btn" type="submit" name="submit" value="SignUp" />
        <!-- <input id="login-btn" type="submit" name="login" value="LogIn" /> -->
        <button id="login-btn" onclick="goToPage()">LogIn</button>
        <!--<a href="#" id="signup">LogIn</a> -->
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="signin.js"></script>
</body>


</html>